# 配置完成后，切换到前目录，运行sh init.sh

# 1.源码仓库地址，不要加http
URL=47.106.125.91/chenercheng/trade.git
# 2.git用户名
GIT_USERNAME=longanhou
# 3.git密码
GIT_PASSWORD=Qwer1234
# 4.分支选择
BRANCH=release
# 5.打包环境及mvn参数指定，maven:3.6.0-jdk-8一定放在最前面
MVN_ENV="maven:3.6.0-jdk-8 mvn clean package -U -DskipTests -P pro"
# 6.在宿主机上的工作目录
WORK_DIR=/mvn/build
# 7.maven下载的依赖包存放在宿主机的目录，以便下次打包不用重新下载，加快打包速度
M2_DIR=/mvn/m2-volume
# 8.源码下载目录，根据GIT的URL生成
SRC_DIR=`echo ${URL} | awk -F'/' '{print $3}' | cut -f1 -d "."`
# 9.打好的war包要传送到容器外的tomcat/webapps将要挂载的目录
# 默认为脚本当前目录下的tomcat/webapps，一般情况不用更改
TOMCAT_DIR=/tomcat/webapps
